body{
  background-color: #1b1b1b;
}

canvas {
  display:flex;
  padding: 20px;
}

.divApp {
  width: 400px;
  height: 400px;
}

.CanvasStyle1 {
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
}

.CanvasStyle2 {
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
}

.CanvasStyle3 {
  width: 400px;
  height: 400px;
  top: 0px;
  left: 0;
}

.CanvasStyle4 {
  width: 400px;
  height: 400px;
  top: 0px;
  left: 0;
}
